<div class="row" style="margin-top: 30px;">
  <ul class="vertical-list">
    @for(table of tables; track table.id) {
      <li>
        <div class="table-element">
          <div class="table-content">
            <div class="image-container">
              <img
                [src]="environment.baseUrl + (table.game?.uuid ? '/assets/rsc/' + table.game?.uuid + '.png' : '/assets/rsc/generic.png')"
                alt="{{ table.game?.name }}" class="game-image">
            </div>

            <div class="table-info">
              <div class="table-title">{{ table.game?.name }}</div>
              <div class="table-user">(
                @for(user of table.users; track user.id) {
                  {{user?.name}}@if ($index < table.users.length - 1) {
                  <span>, </span>
                }
                })
              </div>
            </div>
          </div>

          <div class="table-btn">
            @if (isGameInProgress(table)) {
              <button class="btn btn-outline-success" type="button"
                (click)="startSheet(table.game?.sheet, table.id)">
                <i class="fa-solid fa-hourglass-start"></i>
              </button>
            }

            <button class="btn btn-outline-success" type="button" (click)="startNewSheet(table.game?.sheet, table.id)">
              <i class="fa-solid fa-play"></i>
            </button>

            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#gameModal"
              (click)="openGameModal(table.game, table.id)">
              <i class="fa-solid fa-edit"></i>
            </button>

            <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteTableModal"
              (click)="prepareDeleteTable(table.id)">
              <i class="fa-solid fa-trash"></i>
            </button>

            <button class="btn btn-outline-secondary" type="button" (click)="openHistoric(table.id)">
              <i class="fa-solid fa-clock-rotate-left"></i>
            </button>
          </div>
        </div>
      </li>
    }
  </ul>

</div>

<div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-config-game labelModal="Modifier la table" [isModif]="true"
      (gameValidated)="onGameValidated($event)"></app-config-game>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteTableModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation !</h5>
      </div>
      <div class="modal-body">
        <p>Êtes vous sûr de vouloir supprimer cette table ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteTable()">Oui</button>
      </div>
    </div>
  </div>
</div>
