<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{labelModal}}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form [formGroup]="gameForm" (ngSubmit)="validateFormGame()" class="form-container">
  <div class="modal-body">
    <div class="form-group">
      <label for="game-name">Nom : </label>
      <input name="game-name" type="text" formControlName="name" name="name" required maxlength="50"/>
    </div>

    <div class="game-win-group">
      <label for="game-win">Condition de victoire : </label>
      <div name="game-win" class="btn-group btn-flex game-win">
        <button type="button"
          [ngClass]="editGameConditionWinScoreEleve ? 'btn btn-success' : 'btn btn-outline-success'"
        (click)="changeConditionWin(true)">Le score le plus élevé gagne</button>
        <button type="button"
          [ngClass]="!editGameConditionWinScoreEleve ? 'btn btn-success' : 'btn btn-outline-success'"
        (click)="changeConditionWin(false)">Le score le plus bas gagne</button>
      </div>
    </div>

    <div class="form-group">
      <label for="game-limit-manche">Nombre de manche limite : </label>
      <input name="game-limit-manche" type="number" formControlName="mancheLimite" required min="0">
    </div>
    <div class="form-group">
      <label for="game-limit-point">Nombre de point limite : </label>
      <input name="game-limit-point" type="number" formControlName="pointLimite" required min="0">
    </div>
    @if (isScoreMaxEmpty()) {
      <div class="form-group checkbox-group">
        <label for="scoreNegatif">Score négatif autorisé :
        <input type="checkbox" name="scoreNegatif" formControlName="scoreNegatif" /></label>
      </div>
    }

    @if (gameReceived!.sheet === 'skullKing') {
      <app-skull-king-config
        [specificConfIn]="gameReceived!.specificConf"
        (specificConfOut)="getSpecificConf($event)"
      (okForSave)="getvalidator($event)"></app-skull-king-config>
    }
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
    class="fa-solid fa-xmark"></i></button>
    <button type="submit" class="btn btn-primary" [disabled]="!gameForm.valid || !conditionSpecificConf" data-bs-dismiss="modal"><i
    class="fa-solid fa-save"></i></button>
  </div>
</form>
