.number-input-container {
    display: flex;
    align-items: center;
  }

  button {
    width: 30px;
    height: 30px;
  }

  input {
    width: 75px;
    text-align: center;
  }

  .btn {
    border: 2px solid black;
    line-height: 0px;
    width: 40px;
  }

  .btn-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .btn-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
