<div class="text-center py-4">
  <h1 class="title">Manche {{ mancheEnCours?.manche}}</h1>
</div>


<div class="d-flex justify-content-between mt-4">
  <button class="btn btn-navigate" [disabled]="!canGoBack()" (click)="manchePrecedente()"><i class="fa-solid fa-arrow-left"></i></button>
  <button class="btn btn-navigate" (click)="mancheSuivante()" *ngIf="!isFinish()"><i class="fa-solid fa-arrow-right"></i></button>
  <button class="btn btn-navigate" (click)="openWinner()" *ngIf="isFinish()"><i class="fa-solid fa-skull-crossbones" data-bs-toggle="modal" data-bs-target="#winnerModal"></i></button>
</div>


@for(player of mancheEnCours?.players; track player.user.id) {
  <div class="user-card my-3 p-4">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="user-name">{{ player.user.name }}</h3>
      <span class="score">{{ getScoreTotal(player) }}</span>
    </div>

    <div class="text-left mt-2">
      <p class="small-label">Pari :</p>
      <div class="d-flex flex-wrap mb-3">
        <button *ngFor="let num of numbers" class="btn btn-circle" [ngClass]="{'btn-selected':isSelectedPari(player, num)}" (click)="changePari(player, num)">{{ num }}</button>
      </div>
    </div>

    <div class="text-left mt-2" *ngIf="rascalPoing && rascalScore">
      <p class="small-label">Poing ouvert(10p) ou fermé(15p) :</p>
      <div class="d-flex flex-wrap mb-3">
        <button type="button" class="btn btn-circle"
          [ngClass]="{'btn-selected':!player.poingferme}"
          (click)="changePoing(player)"><i class="fa-solid fa-hand"></i></button>
        <button type="button" class="btn btn-circle"
          [ngClass]="{'btn-selected':player.poingferme}"
          (click)="changePoing(player)"><i class="fa-solid fa-hand-back-fist"></i></button>
      </div>
    </div>

    <div class="text-left">
      <p class="small-label">Remporté : {{ player.scoreManche}}</p>
      <div class="d-flex flex-wrap mb-3">
        <button *ngFor="let num of numbers" class="btn btn-circle" [ngClass]="{'btn-selected':isSelectedScore(player, num)}" (click)="changeScore(player, num)">{{ num }}</button>
      </div>
    </div>

    <!-- Tableau responsive de bonus -->
    <div class="d-flex flex-wrap">
      <div class="d-flex flex-column align-items-center p-2">
        <span class="small-label">Bonus +10 : </span>
        <app-input-score name="bonusCarteMax_{{player.user.id}}" (valueChange)="getBonusDix(player, $event)" [min]="0" [max]="5" [initValue]="player.bonusDix"></app-input-score>
      </div>
      <div class="d-flex flex-column align-items-center p-2">
        <span class="small-label">Pirate capturé : </span>
        <app-input-score name="bonusPirate_{{player.user.id}}" (valueChange)="getBonusPirate(player, $event)" [min]="0" [max]="6" [initValue]="player.bonusPirate"></app-input-score>
      </div>
      <div class="d-flex flex-column align-items-center p-2">
        <span class="small-label">Sirène capturée : </span>
        <app-input-score name="bonusSirene_{{player.user.id}}" (valueChange)="getBonusSirene(player, $event)" [min]="0" [max]="2" [initValue]="player.bonusSirene"></app-input-score>
      </div>
      <div class="d-flex flex-column align-items-center p-2">
        <span class="small-label">Skull King capturé : </span>
        <app-input-score name="bonusSkullKing_{{player.user.id}}" (valueChange)="getBonusSkullKing(player, $event)" [min]="0" [max]="1" [initValue]="player.bonusSkullKing"></app-input-score>
      </div>
      <div class="d-flex flex-column align-items-center p-2">
        <span class="small-label">Bonus butin : </span>
        <app-input-score name="bonusButin_{{player.user.id}}" (valueChange)="getBonusButin(player, $event)" [min]="0" [max]="2" [initValue]="player.bonusButin"></app-input-score>
      </div>
      <div class="d-flex flex-column align-items-center p-2">
        <span class="small-label">Autre bonus : </span>
        <app-input-score name="bonusAutre_{{player.user.id}}" (valueChange)="getBonusAutre(player, $event)" [inc]="5" [initValue]="player.bonusAutre"></app-input-score>
      </div>
    </div>
  </div>
}

<div class="modal fade" id="winnerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-winner  (outWindow)="closeGame()"></app-winner>
    </div>
  </div>
</div>
