<div class="score-sheet">
  <h1>Yathzee</h1>

  <div class="button-group">
    <button
      [ngClass]="{'active': desVirtuel}"
      (click)="toggleButtonsDes()">
      Faire des lancés de dés
    </button>
    <button
      [ngClass]="{'active': !desVirtuel}"
      (click)="toggleButtonsDes()">
      Sélectionner les valeurs des dés
    </button>
  </div>

  <div class="roll-dice-container" *ngIf="desVirtuel">
    <app-dices [maxRolls]="3" [numberOfDice]="5" (diceRolled)="changeDiceValue($event)"></app-dices>
  </div>

  <div class="dice-container" *ngIf="!desVirtuel">
    <div *ngFor="let die of dice; let index = index" class="die-row">
      <span>Dé {{ index + 1 }} :</span>
      <div class="die-buttons">
        <button *ngFor="let value of [1, 2, 3, 4, 5, 6]" [class.active]="die === value"
          (click)="setDieValue(index, value)">
          <img [src]="'assets/rsc/' + getDieImage(value)" [alt]="value" />
        </button>
      </div>
    </div>
  </div>



  <div class="player-selector">
    <button (click)="changePlayer('left')"><i class="fa-solid fa-arrow-left"></i></button>
    <span *ngIf="players !== undefined && players.length > 0">{{ players[activePlayerIndex].name }}</span>
    <button (click)="changePlayer('right')"><i class="fa-solid fa-arrow-right"></i></button>
  </div>

  <!-- Tableau des scores -->
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Catégories</th>
          <th *ngFor="let player of players">{{ player.name }}</th>
        </tr>
      </thead>
      <tbody>
        <!-- Catégories -->
        <tr *ngFor="let category of categories">
          <td>{{ category }}</td>
          <td *ngFor="let player of players" [ngClass]="{ 'locked-cell': locked[player.id][category] }">
            <div class="score-cell" [ngClass]="{ 'locked-cell': locked[player.id][category] }">
              <!-- Si la case est verrouillée -->
              <span *ngIf="locked[player.id][category]">
                {{ scores[player.id][category] ?? '-' }}
                <button *ngIf="isActivePlayer(player.id)" (click)="unlockScore(category)" class="edit-button"><i
                    class="fa-solid fa-pen-to-square"></i>
                </button>
              </span>

              <!-- Si la case est modifiable par le joueur actif -->
              <div *ngIf="isActivePlayer(player.id) && !locked[player.id][category]">
                <span>{{ scores[player.id][category] ?? calculatePoints(category) }}</span>
                <button (click)="lockScore(category)" class="ok-button"><i class="fa-solid fa-check"></i></button>
              </div>
            </div>
          </td>
        </tr>

        <!-- Ligne bonus -->
        <tr class="bonus-row">
          <td><strong>Bonus</strong></td>
          <td *ngFor="let player of players">
            <strong>{{ getBonus(player.id) }}</strong>
          </td>
        </tr>

        <!-- Total -->
        <tr>
          <td><strong>Total</strong></td>
          <td *ngFor="let player of players">
            <strong>{{ getTotal(player.id) }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="gameOver" class="game-over-message" style="margin-top : 30px;">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#winnerModal">Finir la
      partie</button>
  </div>
</div>

<div class="modal fade" id="winnerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-winner (outWindow)="closeGame()"></app-winner>
    </div>
  </div>
</div>
