<div class="row title-container">
<div class="title">
  {{table?.game?.name}}
</div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table-score">
      <tr>
        <th></th>
        <th>Joueur A</th>
        <th>Joueur B</th>
        <th>Joueur C</th>
        <th>Joueur D</th>
      </tr>
      <tr>
        <th></th>
        <th>4545</th>
        <th>86745</th>
        <th>456876</th>
        <th>78646</th>
      </tr>
      <tr>
        <td>#01</td>
        <td>10</td>
        <td>456</td>
        <td>788</td>
        <td>7864</td>
      </tr>
      <tr>
        <td>#02</td>
        <td>10</td>
        <td>456</td>
        <td>788</td>
        <td>7864</td>
      </tr>
      <tr>
        <td>#03</td>
        <td>10</td>
        <td>456</td>
        <td>788</td>
        <td>7864</td>
      </tr>
      <tr>
        <td>#04</td>
        <td>10</td>
        <td>456</td>
        <td>788</td>
        <td>7864</td>
      </tr>
    </table>
  </div>
</div>


<div class="row justify-content-center">
  <div class="button-wrapper">
    <button class="btn btn-success rounded-circle btn-custom" type="button">
      <i class="fa-solid fa-add"></i>
    </button>
  </div>
</div>

