<div class="row title-container">
<div class="title">
  {{table?.game?.name}}
</div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table-score">
      <tr>
        <th></th>
        @for(user of users; track user.position) {
          <th>{{user.user.name}} </th>
        }
      </tr>
      <tr>
        <th></th>
        <th *ngFor="let user of users; trackBy: trackByUserPosition">
          {{ getSum(user) }}
        </th>
      </tr>

        @for(row of round; track row.row){
          <tr>
            <td>#{{row.row}}</td>
            @for(point of row.points; track point.user.position){
              <td>{{ point.value}}</td>
            }
          </tr>
        }
    </table>
  </div>
</div>


<div class="row justify-content-center">
  <div class="button-wrapper">
    <button class="btn btn-success rounded-circle btn-custom" type="button" (click)="addRound()">
      <i class="fa-solid fa-add"></i>
    </button>
  </div>
</div>

