<div class="row" style="margin-top: 30px;">
  @for(user of selectedUsers; track user.id) {
  <div class="userElement">{{user.name }}</div>
  }
</div>

<div class="row">
  @for(game of games; track game.id) {
  <div [ngClass]="isSelectGame(game.id) ? 'gameElementSelected' : 'gameElement'" (click)="selectGame(game.id)">
    {{game.name}}</div>
  }
</div>

<div class="row">

  <div class="col">
    <a routerLink="/users">
      <button class="btn btn-outline-success align-element-left" type="button">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </a>
  </div>

  <div class="col">
    <button *ngIf="isSelectedGame()" class="btn btn-outline-secondary" type="button" (click)="openEditGameModal()"
      data-bs-toggle="modal" data-bs-target="#gameModal">
      <i class="fa-solid fa-edit"></i>
    </button>
  </div>

  <div class="col">
    <button *ngIf="isSelectedGame()" class="btn btn-outline-danger" (click)="deleteGame()" type="button">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>

  <div class="col">
    <button *ngIf="isReadyToCreateTable()" (click)="createTable()" class="btn btn-outline-success align-element-right" type="button">
      Créer une table
    </button>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col align-element-center">
    <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#gameModal"
      (click)="openNewGameModal()">
      Nouveau jeu
    </button>
  </div>
</div>

<div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-config-game [labelModal]="labelModalConfig" [isModif]="isModifConfig" (gameValidated)="onGameValidated($event)"></app-config-game>
    </div>
  </div>
</div>
