<div class="row" style="margin-top: 30px;">
  <div class="col">
    <button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#userModal">Ajouter des joueurs</button>
  </div>
</div>
<div class="row">
  @for(user of selectedUsers; track user.id) {
  <div class="userElement">{{user.name }} <button class="btnUserElement" (click)="removeUser(user.id)"><i class="fa-solid fa-xmark"></i></button></div>
  }
</div>
<div class="row errorMessage">
  {{errorMinMaxUser}}
</div>

<div class="row">
  @for (game of games; track game.id) {
    <div [ngClass]="isSelectGame(game.id) ? 'gameElementSelected' : 'gameElement'" (click)="selectGame(game.id)">
      <div class="image-container">
        <img [src]="game.uuid ? '/rsc/' + game.uuid + '.png' : '/rsc/generic.png'" alt="{{ game.name }}" class="game-image">
      </div>
      <div class="game-title">{{ game.name }}</div>
    </div>
  }
</div>

<div class="row">

  <div class="col">
    <button *ngIf="isSelectedAndEditableGame()" class="btn btn-outline-secondary" type="button" (click)="openEditGameModal()"
      data-bs-toggle="modal" data-bs-target="#gameModal" >
      <i class="fa-solid fa-edit"></i>
    </button>
  </div>

  <div class="col">
    <button *ngIf="isSelectedAndEditableGame()" class="btn btn-outline-danger" (click)="deleteGame()" type="button">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>

  <div class="col">
    <button *ngIf="isReadyToCreateTable()" (click)="createTable()" class="btn btn-outline-success align-element-right" type="button">
      Créer une table
    </button>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col align-element-center">
    <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#gameModal"
      (click)="openNewGameModal()">
      Nouveau jeu
    </button>
  </div>
</div>

<div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <app-config-game [labelModal]="labelModalConfig" [isModif]="isModifConfig" (gameValidated)="onGameValidated($event)"></app-config-game>
    </div>
  </div>
</div>


<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Joueurs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="d-flex mb-3">
          <input type="text" [(ngModel)]="newUser" placeholder="Nom de l'utilisateur" maxlength="50" class="form-control me-2">
          <button class="btn btn-primary" (click)="addUser()" [disabled]="!newUser.trim() || newUser.length > 50">Ajouter</button>
        </div>

        <!-- Liste des utilisateurs de allUsers -->
        <div class="mb-3">
          <h6>Liste des utilisateurs</h6>
          <div class="user-list">
            <div *ngFor="let user of allUsers" class="user-item">
              <span (click)="selectUser(user)" style="cursor: pointer;">{{ user.name }}</span>
              <button class="btn" (click)="deleteUser(user)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>

        <!-- Liste des utilisateurs sélectionnés de selectedUsers -->
        <div>
          <h6>Utilisateurs sélectionnés</h6>
          <div class="selected-user-list">
            <div *ngFor="let user of selectedUsers" class="selected-user-item">
              <span>{{ user.name }}</span>
              <button class="btnUserElement" (click)="removeUser(user.id)">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i> Fermer
        </button>
      </div>
    </div>
  </div>
</div>

