<div class="row" style="margin-top: 30px;">
  @for(user of selectedUsers; track user.id) {
  <div class="userElement">{{user.name }}</div>
  }
</div>

<div class="row">
  @for(game of games; track game.id) {
  <div [ngClass]="isSelectGame(game.id) ? 'gameElementSelected' : 'gameElement'" (click)="selectGame(game.id)">
    {{game.name}}</div>
  }
</div>

<div class="row">

  <div class="col">
    <a routerLink="/users">
      <button class="btn btn-outline-success align-element-left" type="button">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
    </a>
  </div>

  <div class="col">
    <button *ngIf="isSelectedGame()" class="btn btn-outline-secondary" type="button" (click)="openEditGameModal()"
      data-bs-toggle="modal" data-bs-target="#gameModal">
      <i class="fa-solid fa-edit"></i>
    </button>
  </div>

  <div class="col">
    <button *ngIf="isSelectedGame()" class="btn btn-outline-danger" (click)="deleteGame()" type="button">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>

  <div class="col">
    <button *ngIf="isReadyToCreateTable()" class="btn btn-outline-success align-element-right" type="button">
      Créer une table
    </button>
  </div>
</div>

<div class="row" style="margin-top: 10px;">
  <div class="col align-element-center">
    <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#gameModal"
      (click)="openNewGameModal()">
      Nouveau jeu
    </button>
  </div>
</div>

<div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labelModal}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form [formGroup]="gameForm" (ngSubmit)="validateFormGame()" class="form-container">
        <div class="modal-body">
          <div class="form-group">
            <label for="game-name">Nom : </label>
            <input name="game-name" type="text" formControlName="name" name="name" required maxlength="50"/>
          </div>

          <div class="game-win-group">
            <label for="game-win">Condition de victoire : </label>
            <div name="game-win" class="btn-group btn-flex game-win">
              <button type="button"
                [ngClass]="editGameConditionWinScoreEleve ? 'btn btn-success' : 'btn btn-outline-success'"
                (click)="changeConditionWin(true)">Le score le plus élevé gagne</button>
              <button type="button"
                [ngClass]="!editGameConditionWinScoreEleve ? 'btn btn-success' : 'btn btn-outline-success'"
                (click)="changeConditionWin(false)">Le score le plus bas gagne</button>
            </div>
          </div>

          <div class="form-group">
            <label for="game-limit-manche">Nombre de manche limite : </label>
            <input name="game-limit-manche" type="number" formControlName="mancheLimite" required min="0">
          </div>
          <div class="form-group">
            <label for="game-limit-point">Nombre de point limite : </label>
            <input name="game-limit-point" type="number" formControlName="pointLimite" required min="0">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
              class="fa-solid fa-xmark"></i></button>
          <button type="submit" class="btn btn-primary" [disabled]="!gameForm.valid" data-bs-dismiss="modal"><i
              class="fa-solid fa-save"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>
