.medieval-theme {
  font-family: 'Palatino','Palatino Linotype', 'Garamond', serif;
  background-color: #f4f1e5;
  padding: 20px;
}

.rounded-box {
  border: 2px solid #8b5e34;
  border-radius: 15px;
  background-color: #ffeec9;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  color: #62361b;
  font-size: 24px;
  margin-bottom: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.col {
  flex: 1;
  padding: 0 10px;
}

.scroll-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  min-width: 400px;
}

.info-table td {
  border: 1px solid #62361b;
  padding: 10px;
}

.info-table input {
  display: block;
  margin: 5px auto;
  padding: 5px;
  width: 90%;
  border: 1px solid #8b5e34;
  border-radius: 5px;
  background-color: #fffbe6;
}

.autocomplete{
  margin: 5px auto;
  padding: 5px;
  width: 90%;
  border: 1px solid #8b5e34;
  border-radius: 5px;
  background-color: #fffbe6;
}

label {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #5e2a11;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #ffa500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 10px auto;
}

.action-button {
  display: block;
  width: 100%;
  background-color: #8b5e34;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button:hover {
  background-color: #62361b;
}

.title{
  font-weight: bolder;
}
