<div class="dice-container">
  <h2 class="title">
    Nombre de lancés : {{ currentRoll }}@if (maxRolls > 0) {
    /{{ maxRolls }}
  }
</h2>

@if (getSelectedDiceValues().length > 0) {
  <p class="selected-dice-info">
    Dés retenus : {{ getSelectedDiceValues().join(', ') }}
  </p>
}

<div class="dice-box">
  @if (hasDiceValues()) {
    @for (value of diceValues; track value; let i = $index) {
      <img
        [src]="'assets/rsc/' + getImageName(value)"
        alt="Dés"
        class="dice-image animate"
        [class.selected]="diceSelected[i]"
        (click)="toggleDiceSelection(i)">
    }
  } @else {
    <p>Appuyez sur le bouton de lancé</p>
  }
</div>

<button (click)="rollDice()"
  [disabled]="!canRoll()"
  class="roll-button">
  Lancer les dés
</button>
</div>
